<!DOCTYPE html>
<html>
<head>
	<title>Books</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
		<div class='row'>
			<% include ../partials/sidebar %>
			<div class='col-md-8'>	
				<% books.forEach(function(book) { %>
				<div class='row'>
					<div class='col-md-4'>
						<h4><a href="/books/<%= book.id %>"><%= book.title %></a></h4>
					</div>
					<div class='col-md-1'>
						<form method='GET' action="/books/update/<%= book.id %>">
							<input type='submit' value="Edit">
						</form>
					</div>
					<div class='col-md-1'>
						<form method='GET' action='/books/delete/<%= book.id %>'>
							<input type='submit' value="Remove">
						</form>
					</div>
				</div>
				<% }); %>
			</div>
		</div>	

	<h1>Categories (click to update name)</h1>
		<% categories.forEach(function(category) { %>
			<ul>
				<li><a href="/books/categories/<%= category.id %>"><%= category.name %></a></li>
			</ul>
			<form method='POST' action='/books/categories/<%= category.id %>?_method=DELETE'>
				<input type='submit' value="DELETE <%= category.name %>">
			</form>
		<% }); %>
</body>
</html>