<!DOCTYPE html>
<html>
<head>
	<title>Update Author Name or Add Book</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<% include ../partials/sidebar %>
	<div class='col-md-6'>
		<form method="POST" action='/authors/<%= author.id %>?_method=PUT'>
			<fieldset class="form-group">
			    <label for="name">Name:</label>
			    <br>
			    <input type="text" class="form-control" name="name" id="name" value='<%= author.name %>'> 
			    <br>
			    <label for="url">Portait URL:</label>
			    <br>
			    <input type="text" class="form-control" name="url" id="url" value='<%= author.portrait_url %>' >
			    <br>
			    <label for="bio">Biography</label>
			    <br>
			    <textarea class="form-control" name="bio" id="bio" placeholder='<%= author.biography %>'></textarea>
			    <button type='submit'>Edit Author <%= author.name %></button>
			</fieldset>
		</form>
	</div>
</body>
</html>